/**
 * HTML5 Reset
 * http://html5doctor.com/html-5-reset-stylesheet/
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}


/** =SETUP ---------- */

html {
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch; 
    -webkit-tap-highlight-color : #EC008C; 
    -webkit-text-size-adjust : 100%; 
    -ms-text-size-adjust : 100%;
}

body {
    background: #EEE;
    color: #333;
    font: 14px/22px 'Lucida Sans Unicode', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    padding: 40px 10px;
    width: 800px;
}

/** =LINKS ---------- */

a {
    color: #6C6159;
}

a:active {
    color: #AA3333;
}

a:hover,
a:active {
  
}

a:focus, 
a:hover {
  color: #000;
}

a:link {
  -webkit-tap-highlight-color: #AA3333;
}

/** =HEADINGS ---------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    color: #404040;
    font: normal 36px/1 Georgia, serif;
    margin: 0 0 25px;
}

h2 {
    font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
  text-transform: uppercase;
}

h6 {
    color: #868686;
    font-size: 12px;
    text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #000;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    
}

/** =TEXT ---------- */

p {
    /* http://www.w3.org/TR/css3-text/#hyphenation */
    -moz-hyphens : auto;
    -webkit-hyphens : auto;
    -webkit-hyphenate-character : "\2010";
    -webkit-hyphenate-limit-after : 1;
    -webkit-hyphenate-limit-before : 3;
    margin: 0 0 20px;
}

blockquote {
    color: #000;
    font: 18px/28px Georgia, serif;
    padding: 0 20px;
    margin: 0 0 20px;
}

blockquote p:last-child {
    margin: 0;
}

blockquote a {
    color: #868686;
}

cite {
    color: #000;
    display: block;
    margin: 0 0 20px;
}

blockquote cite {
    margin: 0;
}

strong {
    color: #000;
    font-weight: bold;
}

mark {
    background: #F6F6F6;
    font-style: italic;
    font-weight: normal;
}

em,
dfn {
    font-style: italic;
}

dfn {
    font-weight: bold;
}

abbr, 
acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
}

address {
    font-style: italic;
    margin: 0 0 20px;
}

del {
    color: #868686;
    text-decoration: line-through;
}

ins {
  background: #ECECEC;
  text-decoration: none;
}

pre {
    padding: 0 20px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

code {
    margin: 10px 0;
}

pre,
code,
tt,
kbd,
samp {
    font: 15px/22px monospace, sans-serif;
}

sup,
sub {
    line-height: 0;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

::-webkit-selection { 
    background: #333;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection { 
    background: #333;
    color: #FFF;
    text-shadow: none;
}

::selection { 
    background: #333;
    color: #FFF;
    text-shadow: none;
}

/** =LISTS ---------- */

li ul, 
li ol {
    margin: 0 20px;
}

ul,
ol {
    list-style: disc outside;
    margin: 0 0 20px;
}

dl {
    margin: 0;
}

dt {
    font-family: 'Helvetica Neue', sans-serif;
}

dl dt {
    font-size: 16px;
    font-weight: bold;
}

dd {
    margin:0 0 20px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

/** =TABLES ---------- */

table {
    border: 1px solid #D0DBB3;
    margin: 0 0 20px;
    width: 100%;
}

tbody {
    border-top: 0;
}

tbody th {
    border-bottom: 0;
}

thead th {
    text-align: left;
    padding-right: 0;
    border-bottom: 0;
}

tr,
th,
td {
    border: 1px solid #D0DBB3;
}

th {
    background: #F1F7E2;
    color: #000;
    font-weight: bold;
    text-align: left;
}

th,
td {
    padding: 0;
}

td,
td img {
    vertical-align: top;
}

tfoot {
    font-style: italic;
}

caption {
    color: #000;
  font-weight: bold;
    text-align: left;
}

/** =FORMS ---------- */

label {
    color: #000;
    display: block;
    font: bold 11px/20px 'Helvetica Neue', sans-serif;
    margin: 0;
    text-transform: uppercase;
}

fieldset {
    border: 1px solid #CCC;
    margin: 0 0 22px;
    padding: 20px;
}

legend {
  font: bold 13px/20px 'Helvetica Neue', sans-serif;
  color: #000;
    margin-left: -10px;
    padding: 0 10px;
    text-transform: capitalize;
}

input, 
textarea, 
select {
    background: #FFF;
    border: 1px solid #CCC;
    font: 13px/20px 'Helvetica Neue', sans-serif;
    margin: 5px 0 0;
    padding: 9px;
}

input[type="text"],
input[type="password"],
textarea {
    width: 80%;
}

textarea {
    overflow: auto;
}


input:focus, 
textarea:focus, 
select:focus {
    border: 1px solid #AAA;
}

input[type=radio],
input[type=checkbox] {
    border: 0;
    box-sizing : border-box
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    margin-right: 5px;
    vertical-align: baseline;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: baseline;
}

::-webkit-input-placeholder {
    font-size: .875em; 
    line-height: 1.4;
}

input:-moz-placeholder { 
    font-size: .875em; 
    line-height: 1.4;
}

button {
  overflow: visible;
  width: auto; 
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
    -webkit-appearance: button;
}


button::-moz-focus-inner, 
input::-moz-focus-inner { 
    padding: 0;
    border: 0;
}

input[type="search"] { 
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

button,
input[type=submit] {
  border: 1px solid #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #FFF;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
    font: bold 11px/100% Arial, Helvetica, sans-serif;
    margin: 0 2px 0 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-transform: uppercase;
    vertical-align: baseline;
    zoom: 1; 
}

button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
    text-decoration: none;
}

button:active,
input[type=submit]:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
    position: relative;
    top: 1px;
}

/** =IMAGES/OBJECTS/MEDIA ---------- */

img {
    border: 0;
}

/* Fluid images: http://unstoppablerobotninja.com/entry/fluid-images/ */
img,
object,
embed {
    height: auto;
    max-width: 100%;
}

/* Use clearfix on figures */
figure:before,
figure:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

figure:after {
    clear: both;
}

figure {
    zoom: 1;
}

figure img {
    float: left;
}

figcaption {
    clear: both;
    color: #868686;
}

audio[controls],
canvas,
video { 
    display: inline-block; 
    *display: inline; 
    *zoom: 1;
}

/**
 * Section, article
 */

/*  Use clearfix on all articles and sections */
section:before,
article:before,
section:after,
article:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
section:after,
article:after { clear: both; }
section,
article { zoom: 1; }

/** =BLOCK: HIGHLIGHT ---------- */



/** =ARTICLES ---------- */

.article-header {
    background: #F6F6F6;
    border: 1px solid #DFDFDF;
    -o-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    margin: 0 0 30px;
    padding: 30px 50px;
}

.article-header p:last-child {
    margin: 0;
}

.article-content {
    background: #FFF;
    border: 1px solid #DFDFDF;
    -o-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    padding: 40px 50px;
}

.article-content > :last-child {
    margin: 0;
}

.article aside {
    float: right;
    width: 28%;
}

/** =USEFUL CLASSES ---------- */

/* For image replacement */
.ir {
    display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before,
.clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
